
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/estiloIndex.css">



<div class="row">
    <div class="col-md-3">
        <p class="lead">Produtos por Categorias </p>
        @Html.Action("MenuCategorias", "Componentes", new { idCategoriaAtiva = (int)ViewBag.Categoria.Id })
    </div>
    <div class="col-md-9" >
        <div class="row">
            @Html.Action("ExibirProdutos", "Produto", new { idCategoria = (int)ViewBag.Categoria.Id })

        </div>
    </div>
</div>

