<!-- /.navbar-header -->
<ul class="nav navbar-top-links navbar-right">

    <li>
        <a href="@Url.Action("Index", "Carrinho")">
            <i class="fa fa-shopping-cart"></i>
        </a>
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            @if ((bool)ViewBag.IsAdmin)
            {
                <li>
                    <a href="@Url.Action("Index", "Administrativo")"><i class="fa fa-tachometer"></i> Área Administrativa</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Configuracoes", "Usuario")"><i class="fa fa-gear fa-fw"></i> Meus Dados</a>
                </li>
            }
            
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("LogOut", "Usuario")"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
