<ul class="nav navbar-top-links navbar-right">
    <li>
        <a class="btn btn-success" href="@Url.Action("Cadastrar", "Usuario")">
            <b>Cadastre-se </b>
        </a>
    </li>
    <li >
        <a class="linkLogar"  href="@Url.Action("Login", "Home")">
            Login <i class="fa fa-sign-in"></i>
        </a>
    </li>
</ul>

