
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>EmitirNotaFiscalVendaCliente</title>
</head>
<body>
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-offset-1 col-lg-11">
            <table class="col-lg-10" border="1">
                <tr height="50px">
                    <td colspan="2" width="100%"></td>
                </tr>
                <tr height="50px">
                    <td width="25%">Data de recebimento</td>
                    <td width="75%">Identificação e assinatura do recebedor</td>
                </tr>
            </table>
            <div class="col-lg-1">

                <div>
                    <table border="1" style="height:100px; padding-left:50px;">
                        <tr style="border:none; border-bottom-color:transparent; height:34px;">
                            <td width="100%" align="center" style="vertical-align:bottom;">NF-e</td>
                        </tr>
                        <tr style="border:none; height:18px; border-bottom-color:transparent;">
                            <td width="100%" align="center" style="font-size:21px;">N°000001</td>
                        </tr>
                        <tr style="border:none; border-top-color:transparent; height:34px;">
                            <td width="100%" align="center" style="vertical-align:top;">Serie 1</td>
                        </tr>

                    </table>
                </div>
            </div>

            </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="row col-lg-12">
                <hr size="1" style="border:1px dashed;">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <table border="1" class="col-lg-4">
                <tr height="50px" class="img">
                    <td rowspan="4">Imagem</td>
                </tr>
            </table>
            <table class="col-lg-2" style="font-size:18px;">
                <tr>
                    <td colspan="3" align="center" style="vertical-align:bottom; font-size:35px; padding-top:20px;">DANFE</td>
                </tr>
                <tr>
                    <td colspan="3" align="center">Documento Auxiliar <br /> da Nota Fiscal <br />Eletronica</td>
                </tr>
                <tr>
                    <td align="center">0 - Entreda<br /> 1 - Saida</td>
                    <td style="border:1px solid;" align="center" width="50px"> 1</td>
                    <td width="35px"></td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:35px;" align="center">
                        N°:000001
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:20px;">
                        Serie: 1
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:20px;">
                        Pagina: 1 de 1
                    </td>
                </tr>
            </table>
            <table border="1" class="col-lg-6">
                <tr height="50px" class="img">
                    <td rowspan="4">Imagem</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
