@using (Html.BeginForm("ConsultaProdutos", "Produto", FormMethod.Get))
{ 
    <div class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" name="busca" placeholder="Buscar...">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-info" value="Buscar"/>
                    
            </span>
        </div>
        <!-- /input-group -->
    </div>
}