
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/estiloIndex.css">



<div class="row">
    <div class="col-md-3">
        <p class="lead">Produtos por Categorias </p>
        @Html.Action("MenuCategorias", "Componentes")
    </div>
    <div class="col-md-9" >
        
        @Html.Action("PainelImagensIndex", "Componentes")

        <div class="row">

            @Html.Action("ExibirProdutos", "Produto")
        </div>
    </div>
</div>

