
@{
    ViewBag.Title = "Administraão do sistema - OverView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script language="javascript">
    document.getElementById("OverView").className = "active";

</script>

<h2>Administração do sistema - OverView</h2>