
@using (Html.BeginForm("Gravar", "CategoriasInteresse", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            Meus Interesses
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group"> <h4>Categorias: </h4><br />
                    <div class="col-md-10">
                        @foreach (var categoria in (IList<MountainStyleShop.ModelNH.Model.Categoria>)ViewBag.Categorias)
                        {
                            <input type="checkbox"  name="idCategorias" value="@categoria.Id"
                                    @if (((MountainStyleShop.ModelNH.Model.Usuario)ViewBag.User).EhCategoriaInteresse(categoria.Id)) {
                                         @Html.DisplayName("checked")
                                    } 
                                   /> 
                                    
                                    @Html.Label(categoria.Nome)<br />
                            
                        }

                        <input type="submit" value="Gravar" class="btn btn-info" />
                    </div>
                

                </div>
            </div>
        </div>
    </div>
}
