@model IEnumerable<MountainStyleShop.ModelNH.Model.AvaliacaoProduto>

@if (ViewBag.Avaliacoes != null)
{
    foreach (var Avaliacao in (IList<MountainStyleShop.ModelNH.Model.AvaliacaoProduto>)ViewBag.Avaliacoes)
    {

        <hr>
        <div class="row">
            <div class="col-md-12">
                @if (Avaliacao.NotaAvaliacao == 2)
                {
                    <span class="fa fa-thumbs-o-up fa-2x" style="color:green;"></span>
                }
                @if (Avaliacao.NotaAvaliacao == 1)
                {
                    <span class="fa fa-thumbs-o-down fa-2x" style="color:red;"></span>
                }
                @if (Avaliacao.NotaAvaliacao == 0)
                {
                    <span class="fa fa-quote-right fa-2x"></span>
                }                
                
                
                
                
                @Html.DisplayFor(modelItem => Avaliacao.Usuario.Nome)

                <span class="pull-right">@Html.Label(Avaliacao.Data.ToString("dd/MM/yy HH:mm"))</span>
                <p>@Html.DisplayFor(modelItem => Avaliacao.Comentario)</p>
            </div>
        </div>

    }

}
